/* sectionOnePageMeter */
.sectionOnePageMeter{
  height: 100vh;
  padding-top: 100px;
  position: relative;
  contain: content;
}
.sectionOnePageMeter hr{
  position: relative;
  width: 80%;
  border: #E7E7E7 solid 2px;
  color: #E7E7E7;
}
.sectionOnePageMeter .figureBackgroundOne{
  position: absolute;
  width: auto;
  height: 40%;
  bottom: 5%;
  left: 3%;
  transform: translate(-50%, 50%);
}
.sectionOnePageMeter .figureBackgroundTwo{
  position: absolute;
  width: auto;
  height: 50%;
  bottom: 45%;
  left: 100%;
  transform: translate(-50%, 50%);
}

.sectionInternOnePageMeter{
  position: relative;
  width: 80%;
  max-width: 550px;
  margin: 0px auto;
  margin-top: 3%;
}
.imageMeter{
  width: 40vh;
  max-width: 366px;
}
.divPogress{
  width: 80%;
}
.divPogress .progress{
  width: 100%;
  max-width: 366px;
  height: 8px;
  border-radius: 8px;
  background-color: #F2F2F2;
  margin: auto;
}
.divPogress .progress .progress-bar{
  background-color: #F6C061;
  border-radius: 8px;
}
.btnContain{
  margin-top: 3%;
}
.linkBtnArrow{
  color: transparent;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .sectionInternOnePageMeter {
    width: 90%;
    max-width: 600px;
  }
}
@media (max-width: 1421px) {
  .sectionInternOnePageMeter {
    width: 90%;
    max-width: 660px;
  }
}
@media (max-width: 1250px){
  .sectionInternOnePageMeter {
    width: 90%;
    max-width: 700px;
    margin-top: 1%;
  }
}
@media (max-height: 600px) {
  .sectionOnePageMeter{
    height: 600px;
  }
}